@import '../../variables.scss';

.tabs {
  width: 100%;
}

.nav-tab {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  li {
    padding: 10px;
    background-color: $bg-light;
    margin-right: 5px;
    box-shadow: inset 0 -15px 15px  -15px #333;
    
    a {
      text-decoration: none;
    }
  }
}

.active {
  position: relative;
  top: 1px;
  box-shadow: none !important;

}

.tab-content {
  background-color: $bg-light;
  display: inline-block;
  width: 100%;
  color: white;
  padding: $common-paddings;
  box-sizing: border-box;
}
